! .Xresources file
! (sourced by lightdm from /etc/lightdm/Xsession)

! increase fonts etc for high resolution displays
Xft.dpi: 144

st.font: Hack Nerd Font-13;
st.termname: st-256color
st.shell: /bin/zsh
st.alpha: 0.7
st.borderpx: 0

*.background: black
*.foreground: white
*.cursorColor: white
