# author: exe1099
# dependencies: diff-so-fancy

[user]
	name = exe1099
	email = exe1099@exe1099.com

[color]
	ui = true

[alias]
    a = add
	st = status
    ds = diff --staged  # is same as --cached
    #ds = diff --stat=160,120
    dcw = diff --word-diff --staged
    di = diff
    aa = add --all
    us = reset
    ci = commit --verbose
    co = checkout
    amend = commit --amend
    ff = merge --ff-only
    pullff = pull --ff-only
    noff = merge --no-ff
    fa = fetch --all
    pom = push origin master
    dh1 = diff HEAD~1
    ls = ls-tree -r master --name-only

    # divergence (commits we added and commits remote added)
    div = divergence

    # fancy logging
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lgf = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --name-only


[merge]
    tool = vimdiff

[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX

# diff-so-fancy custom colors
[color "diff"]
    meta = bold blue
[pull]
	rebase = true
